:root {
    --background: black;
    --background-alt: black;
    --color: white;
    --color-alt: white;
    --border: 2px white solid;
    --font: monospace;
}

/* Style resets */
* {
    box-sizing: border-box;
    font-family: var(--font);
}

/* Style resets */
body, html, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

/* Style resets */
a {
    color: unset;
}

/* Page styling */
html {
    padding: 1rem;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

/* Header styling */
header {
    min-width: 70vw;
    min-height: 50vh;
    width: 100%;
    height: 100%;
    background-color: var(--background-alt);
    color: var(--color);
    box-shadow: 0 0 8px var(--color);
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 1rem;
    border: var(--border);
}

/* Root navigation */
body > nav {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    font-style: italic;
}

/* Link list inside root navigation */
body > nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
}

/* Root nav opacity */
body > nav > p {
    opacity: 0.25;
}

/* Root nav opacity */
body > nav > ul > li {
    opacity: 0.5;
}

/* Root nav opacity */
body > nav > ul > li:hover {
    opacity: 0.8;
}