:root {
    --sweetie-color-1: #1a1c2c;
    --sweetie-color-2: #5d275d;
    --sweetie-color-3: #b13e53;
    --sweetie-color-4: #ef7d57;
    --sweetie-color-5: #ffcd75;
    --sweetie-color-6: #a7f070;
    --sweetie-color-7: #38b764;
    --sweetie-color-8: #257179;
    --sweetie-color-9: #24263a;
    --sweetie-color-10: #3b5dc9;
    --sweetie-color-11: #41a6f6;
    --sweetie-color-12: #73eff7;
    --sweetie-color-13: #f4f4f4;
    --sweetie-color-14: #94b0c2;
    --sweetie-color-15: #566c86;
    --sweetie-color-16: #333c57;


    --page-background: var(--sweetie-color-16);
    --page-text-color: var(--sweetie-color-14);

    --section-background: unset;
    --section-title-color: var(--sweetie-color-13);
    --section-border-color: var(--sweetie-color-14);
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    margin-block: 0.5rem;
}

h1, h2, h3, h4, h5, h6, p, html, body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

a {
    color: unset;
}

body {
    padding: 1rem;
    background: var(--page-background);
    color: var(--page-text-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.page-wrapper {
    max-width: 80ch;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-header {
    border: 2px solid #fce6a3;
    background-image: url("/stars.gif");
    image-rendering: pixelated;
    padding-inline: 2rem;
    padding-block: 1rem;
    width: min-content;
    border-radius: 1rem;
}

.page-section {
    background: var(--section-background);
    border: 1px solid var(--section-border-color);
    border-radius: 1rem;
    position: relative;
    padding: 2rem;
}

.page-section-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page-section > .title {
    background-color: var(--page-background);
    color: var(--section-title-color);
    padding-inline: 0.5rem;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    line-height: 1rem;
}

.landing-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-button {

}

.landing-button img {
    width: 10rem;
    height: 10rem;
}

.page-nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.text-wrapper {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 0.75rem;
}

.text-content {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-button {
    color: rgba(0, 0, 0, 0.81);
    padding-inline: 1rem;
    padding-block: 0.35rem;
    display: flex;
    width: min-content;
    justify-content: center;
    border-radius: 0.75rem;
    text-decoration: none;
}

.nav-button-yellow {
    background-color: var(--sweetie-color-5);
}

.nav-button-red {
    background-color: var(--sweetie-color-3);
}

.nav-button-green {
    background-color: var(--sweetie-color-7);
}

.project-badges {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
    list-style-type: none;
}

.badge {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.25rem;
    user-select: none;
    border-radius: 0.5rem;
}

.badge-css {
    background-color: #3c77ff;
    color: white;
}

.badge-js {
    background-color: #ffef3c;
    color: black;
}

.badge-svelte {
    background-color: white;
    color: #cb5900;
}

.badge-java {
    background-color: #6394a9;
    color: #ffeadb;
}

.project-title-wrapper {
    display: flex;
    flex-direction: row;
}

.project-title-author {
    font-weight: normal;
    opacity: 0.7;
}

.project-title-slash {
    font-weight: normal;
    opacity: 0.7;
}

.project-card-green {
    --color-a: #6bbd55;
    --color-b: #b6dcab;
    --color-text: black;
    --color-alt: var(--sweetie-color-13);
}

.project-card-gray {
    --color-a: var(--sweetie-color-10);
    --color-b: var(--sweetie-color-14);
    --color-text: var(--sweetie-color-1);
    --color-alt: #dfe0e1;
}

.project-card-blue {
    --color-a: #222a56;
    --color-b: #488398;
    --color-text: #F1F2DA;
    --color-alt: var(--sweetie-color-9);
}

.project-card-red {
    --color-a: #b96666;
    --color-b: #efb8b8;
    --color-text: #361818;
    --color-alt: #ecf0ff;
}

.project-card {
    color: var(--color-text);
    border-radius: 0.75rem;
    background: linear-gradient(45deg, var(--color-a), var(--color-b));
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-content {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    height: 100%;
    margin-bottom: 1rem;
    margin-right: 5rem;
}

.project-next {
    background-color: unset;
    border: 1px solid var(--color-text);
    border-radius: 0.35rem;
    padding-inline: 0.75rem;
    color: var(--color-text);
    overflow: hidden;
    position: absolute;
    opacity: 0;
    margin: 1rem;
    transition: opacity 0.1s;
    z-index: 1;
    right: 0;
    top: 2rem;
}

.project-card:hover .project-next {
    opacity: 1;
    cursor: pointer;
}

.project-aside {
}


.project-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.commit-view {
    --color: #e5debf;
    height: 7rem;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #192433;
    border: 1px solid var(--color);
    color: var(--color);
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}

.commit-view-title {
    padding-inline: 0.5rem;
}

.commit-view a {
    text-decoration: none;
}

.commit-view > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    width: 100%;
    border-top: 1px solid var(--color);
}

.project-next-bg {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-alt);
    z-index: -1;
    transition: width 0.25s;
}

.project-thumb {
    height: 100%;
    max-width: 3rem;
}

.projects {
    padding-block: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.colour-container {
    position: absolute;
    height: 100%;
    width: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0;
    right: 10px;
    padding-block: 1rem;
}

.colour-circle {
    background-color: var(--color);
    border-radius: 0.25rem;
    height: 1rem;
    width: 1rem;
    content: '';
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: center;
}

.colour-circle:hover > .colour-code {
    opacity: 1;
}

.colour-code {
    position: absolute;
    right: 2rem;
    opacity: 0;
    transition: opacity 0.25s;
}