:root {
    --theme-color-1: #00303b;
    --theme-color-2: #ff7777;
    --theme-color-3: #ffce96;
    --theme-color-4: #f1f2da;
}

/* Style resets */
* {
    box-sizing: border-box;
    font-family: var(--font);
}

/* Style resets */
body, html, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

/* Style resets */
a {
    color: unset;
}

/* Page styling */
html {
    background-color: var(--theme-color-1);
    color: var(--theme-color-3);
    display: flex;
    justify-content: center;
    font-family: monospace;
}

/* Page styling */
body {
    margin: 2rem;
    max-width: 60ch;
    width: 100%;
}

/* Header styling */
header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    border-radius: 1.5rem;
    background-color: var(--theme-color-2);
    color: var(--theme-color-1);
    position: relative;
    transition: transform 0.25s;
}

/* Header styling */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(3px) translateY(3px);
    background-color: var(--theme-color-3);
    border-radius: 1.5rem;
    z-index: -1;
}

/* Root navigation */
.page-nav {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-style: italic;
}

/* Link list inside root navigation */
.page-nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
}

/* Root nav opacity */
.page-nav > p {
    opacity: 0.25;
}

/* Root nav opacity */
.page-nav > ul > li {
    opacity: 0.5;
}

/* Root nav opacity */
.page-nav > ul > li:hover {
    opacity: 0.8;
}

.page-title {
    margin-block: 0.75rem;
    color: var(--theme-color-4);
    padding: 0;
    position: relative;
    opacity: 0.7;
}

.page-title > * {
    background-color: var(--theme-color-1);
    width: fit-content;
    padding-inline: 0.8rem;
}

.page-title::before {
    z-index: -1;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0.25rem;
    content: '';
    background-color: var(--theme-color-4);
}

/*.page-title > *:not(.page-bar) {*/
/*    background-color: var(--theme-color-1);*/
/*}*/

/*.page-title > *:not(.page-bar) {*/
/*    background-color: var(--theme-color-1);*/
/*    z-index: 2;*/
/*    padding-right: 0.5rem;*/
/*}*/

/*.page-title > .page-bar {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 100%;*/
/*    height: 0.25rem;*/
/*    content: '';*/
/*    z-index: 1;*/
/*    background-color: var(--theme-color-4);*/
/*}*/

/*.page-title::before {*/
/*    display: none;*/
/*}*/

article {
    background-color: var(--theme-color-4);
    color: var(--theme-color-1);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.badge {
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 0.45rem;
    border-radius: 0.45rem;
    background-color: var(--theme-color-3);
    color: var(--theme-color-1);
    text-decoration: none;
    height: 31px;
    min-width: 88px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: opacity 0.25s;
}

.badge:hover {
    opacity: 0.9;
}

.badge img {
    height: 100%;
    margin-inline: 0.25rem;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;}

.button-1 { grid-area: 1 / 1 / 2 / 2; }
.button-2 { grid-area: 1 / 2 / 2 / 3; }
.button-3 { grid-area: 1 / 3 / 2 / 4; }
.button-4 { grid-area: 2 / 1 / 3 / 2; }
.button-5 { grid-area: 2 / 2 / 3 / 3; }
.button-6 { grid-area: 2 / 3 / 3 / 4; }

.page-button {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    justify-content: center;align-items: center;
    background-color: #ffce96;
    color: #00303b;
    box-shadow: 0 4px 4px black;
    transition: transform 0.25s;
}

.page-button:hover {
    transform: translateY(-4px);
}

.page-button img {
    width: 4rem;
    height: 4rem;
}

.badge-jb {
    padding: 0;
}