<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webcrawls.github.io</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<header>
    <h1>webcrawls on the internet</h1>
</header>
<nav>
    <p>~</p>
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/technology">technology</a></li>
    </ul>
    <p>~</p>
</nav>
<main>
    {{ content }}
</main>
</body>
</html>